.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;    
}

.create-btn {
    width: 100%;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    color: black;
}

.imputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
    color: black;
}

#message {
    flex: 1;
}

body.dark-mode {
    background-color: black;
    color: whitesmoke;
}

body.dark-mode .message-box {
    background-color: black;
    border-color: black;
}

body.dark-mode .messages {
    color: whitesmoke;
    background-color: black;
}

body.dark-mode input,
body.dark-mode button {
    background-color: #333;
    color: whitesmoke;
    border-color: black;
}

#dark-mode-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

body.dark-mode #dark-mode-btn {
    background-color: #555;
}