<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chat App</title>
        <link 
          rel="stylesheet" 
          href="{{url_for('static', filename='css/style.css')}}"
        />
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous"
        ></script>
      </head>
      <body>
        <button id="dark-mode-btn" onclick="toggleDarkMode()">Dark Mode</button>
        <div class="content">{% block content %} {% endblock %}</div>
        <script>
          const toggleDarkMode = () => {
            const body = document.body;
            body.classList.toggle('dark-mode');
            localStorage.setItem('darkMode', body.classList.contains('dark-mode'));
          };
          
          if (localStorage.getItem('darkMode') === 'true') {
            document.body.classList.add('dark-mode');
          }
        </script>
      </body>
    </html>